@import "~normalize.css";

html, body {
	margin: 0;
	padding: 0;
	cursor: default;
}

body {
	width: 100%;
	height: 100%;
	background: var(--body-bgrd);
}

.wrapper {
	margin: 0 auto;
	min-height: 100vh;
	flex: 1;
	max-width: 1280px;
	background: var(--white);
	display: grid;
	grid-template-columns: [sidebar] 10.3% [content];
}
