.desk {
    background: url('./media/images/desk.png') no-repeat center;
}

    .desk:hover {
        background: var(--blue) url('./media/images/desk-active.png') no-repeat center;
    }

.desk-long {
    background: url('./media/images/desk-long.png') no-repeat center;
}

    .desk-long:hover {
        background: var(--blue) url('./media/images/desk-long-active.png') no-repeat center;
    }
