.users {
    background: url('./media/images/users.png') no-repeat center;
}

    .users:hover {
        background: var(--blue) url('./media/images/users-active.png') no-repeat center;
    }

.users-long {
    background: url('./media/images/users-long.png') no-repeat center;
}

    .users-long:hover {
        background: var(--blue) url('./media/images/users-long-active.png') no-repeat center;
    }