.exit {
    position: absolute;
    right: 4.15%;
    top: 47px;
    width: 7.26%;
    height: 68px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: var(--dark-blue);
}

    .exit div {
        position: absolute;
        right: 0;
        top: 0;
        height: 20px;
        width: 28.57%;
        background: url('./media/images/exit.png') no-repeat;
        background-size: 70%;
    }
