.menu-item {
    display: block;
    height: 58px;
    line-height: 60px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--sky);
    text-align: center;
    line-height: 59px;
    font-family: Geometria;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
}

    .menu-item a:active,
    .menu-item a:hover,
    .menu-item a{
        text-decoration: none;
        color: inherit;
    }

    /*.menu-item:hover {
        color: var(--white);
    }*/

/*    .menu-item {
        text-align: center;
        line-height: 59px;
        font-family: Geometria;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--dark-blue);
    }*/
