.item__sub {
	background: var(--emerald);
	font-family: Geometria;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: var(--white);
	text-align: center;
}


