.header {
    position: relative;
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    text-transform: capitalize;
    color: var(--blue);
    line-height: 115px;
    padding-left: 3.1%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--sky);
}
