.item__icon {
    background: var(--blue);
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--white);
    padding-left: 91px;
}
